body{
    background-color:darkslategrey;
    color: azure;

}
.skills{
    width: 500px;
    margin: 60px auto;
    color: #fff;
    padding: 20px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0, 0.22);
}
.skills .title{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;

}
.skills .text{
    width: 70%;
    margin: 1.5rem auto;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
}
.skills .row{
    margin: 1rem 0;
}
.skills .row{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
}
.skills .item{
    padding: 0.5rem 0;
    margin: 0.3rem 0;
}
.skills .item-text{
    display: flex;
    justify-content: flex-start;
    font-weight: 600;
    font-size: 1.3rem;
    position: relative;
}
.skills .item-text span:last-child{
    position: absolute;
}
.skills .item-text .w-90{
    margin-left: 85%;
}
.skills .item-text .w-65{
    margin-left: 60%;
}
.skills .item-text .w-70{
    margin-left: 65%;
}
.skills .item-text .w-60{
    margin-left: 55%;
}
.skills .item-text .w-78{
    margin-left: 63%;
}
.progress{
    margin: 0.8rem 0;
    border-radius: 10px;
    height: 16px;
    width: 100%;
    background-color:dimgray;
    overflow: hidden;
}
.progress-bar{
    background: purple;
    height: 100%;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
.progress-bar.w-90{
    width: 90%;
}
.progress-bar.w-65{
    width: 65%;
}
.progress-bar.w-70{
    width: 70%;
}
.progress-bar.w-60{
    width: 60%;
}
.progress-bar.w-78{
    width: 78%;
}
