* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    background-color: #ae9cff;
  }
 
  .greetings_container {
    font-size: 1.3em;
    width: 15em;
    background: linear-gradient(-240deg, #8468ff 70%, #785bf7 70%);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 4.5em 1.3em;
    border-radius: 0.4em;
    box-shadow: 0 1.3em 1.8em rgba(94, 72, 181, 0.25);
    float: top;
  }
  .greetings_container h1 {
    font-family: "Poppins", sans-serif;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 0.1em;
    word-spacing: 0.4em;
  }
  .navbar {
    width: 100%;
    background-color: #555;
    overflow: auto;
  }
  
  .navbar a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
  }
  .navbar span{
    margin: right;
    float: right; 
  }
  input[type=text], select, textarea {
    width: 30%;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    resize: vertical;
  }
  .navbar a:hover {
    background-color: #811561;
  }
  
  .active {
    background-color: rgba(59, 10, 59, 0.25);
  }
  
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
}